* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #03a9f4;
}

.ui-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.ui-content.active {
  display: block;
}

.ui-content__inner {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.ui-controls {
  position: absolute;
  min-width: 50px;
  height: 50px;
  bottom: 10px;
  left: 25px;
  display: flex;
  align-items: center;
}

.ui-btn {
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ui-btn svg {
  fill: #fff;
}

.ui-btn.ruler.active svg {
  fill: var(--primary);
}

.ui-btn.ruler.hidden {
  display: none;
}

.ui-btn.ruler:hover {
  opacity: 0.7;
}

.ui-btn.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
}

.ui-btn.add svg {
  /* fill: #333; */
  stroke: #333;
  stroke-width: 30;
}

.ui-btn.add.active {
  transform: rotateZ(45deg);
}

.ui-btn.add:hover {
  background-color: var(--primary);
  opacity: 1;
}

.ui-btn.add:hover svg {
  stroke: #fff;
}

.ui-btn.remove {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 20%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  fill: rgba(255, 255, 255, .4);
}

.ui-btn.ui-btn.remove svg {
  fill: rgb(122 122 122 / 64%);
}