* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #03a9f4;
}

body.creating {
  cursor: crosshair;
}

.measurementLabel {
  font-family: monospace;
  background-color: black;
  color: white;
}

.ui-content {
  display: none;
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  bottom: 150px;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.ui-content.active {
  display: block;
}

.ui-content__inner {
  position: relative;
  min-width: 50px;
  min-height: 50px;
}

.ui-controls {
  position: absolute;
  min-width: 50px;
  height: 50px;
  bottom: 10px;
  left: 25px;
  display: flex;
  align-items: center;
}

.ui-coords {
  user-select: none;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  width: inherit;
  flex-shrink: 0;
  padding: 0 10px;
  margin-left: 20px;
  display: none;
}

.ui-coords.active {
  display: flex;
}

.ui-coords__item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ui-coords__item + .ui-coords__item {
  margin-left: 10px;
}

.ui-coords__item-img {
  width: 30px;
  height: 30px;
}

.ui-coords__item-input {
  width: 90px;
  padding: 8px 5px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
  background-color: #e0e0e0;
  border-radius: 3px;
  color: #333;
  font-weight: 600;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
}

.ui-buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.ui-buttons__history {
  display: flex;
  position: absolute;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}

.ui-buttons__history.hidden {
  display: none;
}

.ui-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: #333;
  cursor: pointer;
}

.ui-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.ui-btn.hidden {
  display: none;
}

.ui-btn.disabled {
  cursor: default;
  /* pointer-events: none; */
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.7;
}

.ui-btn + .ui-btn {
  margin-left: 10px;
}

.ui-btn.ui-btn--history.active {
  background-color: rgba(255, 255, 255, 0.6);
}

.ui-btn[data-type=undo] {}

.ui-btn[data-type=redo] {
  transform: scaleX(-1);
}

.ui-btn.ui-btn--main {
  width: 60px;
  height: 60px;
  background-color: #fff;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ui-btn.ui-btn--main:hover {
  background-color: var(--primary);
}

.ui-btn[data-type=add] svg {
  stroke-width: 30;
}

.ui-btn[data-type=add].active {
  transform: rotateZ(45deg);
}

.ui-btn[data-type=add]:hover svg {
  stroke: #fff;
}

.ui-btn[data-type=accept] svg {
  stroke-width: 3;
}

.ui-btn[data-type=accept]:hover svg {
  stroke: #fff;
}

.ui-btn[data-type=add] svg:last-child {
  display: none;
}

.ui-btn[data-type=accept] svg:first-child {
  display: none;
}

.ui-btn[data-type=remove] {
  position: absolute;
  right: -60px;
}

.ui-btn[data-type=remove] svg {
  fill: #333;
}

.ui-btn[data-type=ruler] {
  background-color: transparent;
}

.ui-btn[data-type=ruler] svg {
  fill: #fff;
}

.ui-btn[data-type=ruler].active svg {
  fill: var(--primary)
}